.jira-issue {
    background-color: #28739F !important;
    border-radius: 3px;
    border: 1px solid #183270;
    padding: 1px 5px !important;
    font-size: 10px !important;
    color: white;
    font-weight: bold;
}

.jira-project {
    background-color: #C33 !important;
    border-radius: 5px;
    border: 1px solid #A32929;
    padding: 2px 5px !important;
    font-size: 15px !important;
    color: white;
    font-weight: bold;
}

