.jira-issue {
    background-color: #28739F !important;
    border-radius: 3px !important;
    border: 1px solid #183270 !important;
    padding: 1px 5px !important;
    font-size: 10px !important;
    color: white !important;
    font-weight: bold !important;
}

.jira-project {
    border-radius: 5px !important;
    font-size: 15px !important;
    font-weight: bold !important;
    padding: 0px 5px !important;
    margin-top: 0px !important;
}
